@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
.App {
  text-align: center;
}
body {
  display: flex;
  text-align: center;
}
div {
  text-align: center;
}
main {
  max-width: 600px;
}
.dev-home {
  display: flex;
  justify-content: center;
  background: url('https://i.imgur.com/vH0OO6f.jpg');
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  margin-bottom: 40px;
}
.dev-header {
  font-family: 'Noto Sans Mono', monospace;
  /* font-family: 'Arimo', sans-serif; */
  color: white;
  font-size: 85px;
  max-width: 400px;
  text-shadow: 1px 1px 16px black;
  border-radius: 50px;
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
